body{
    background-color: hsl(0, 0%, 81%);
}

#quote{
    margin-left: 120px;
    margin-top:9px ;
    z-index: 2;
}

/*daniel*/
#daniel{
    width: 70vw;
    height:50vh;
    margin-left: 10px;
    background-color: hsl(263, 55%, 52%);
}
/*jeanette*/
#jean{
    width: 20vw;
}


  /*patrick*/
  #patrick{
    width: 59vw;
    background-color: hsl(219, 29%, 14%);
  }
/*jonathan*/
#john{
    width: 20vw;
    margin-left: 4px;
    height: 50vh;
    background-color: hsl(217, 19%, 35%);
}
/*kira*/
#kira{
    width: 20vw;
    height: fit-content;
    margin-left: 4px;
}
#condown{
    margin-top: -340px;
    margin-left: 15px;
    gap: 6px;
}

@media screen and (max-width: 440px) { 
    #conup{
        display: flex;
        flex-direction: column;
         display: flex;
  align-items: center;
    }
    #daniel{
        width: 90vw;
        height: fit-content;
    }
    #john{
        width: 90vw;
        height: fit-content;
    }
    #patrick{
        width: 90vw;
        height: fit-content;
    }
    #kira{
        width: 90vw;
        height: fit-content;
    }
#condown{
        display: flex;
        flex-direction: column;
         display: flex;
  align-items: center;
}
    #jean{
        width: 90vw;
        height: fit-content;
        margin-top: 80vw;
        margin-left: -7px;
    }
    #quote{
        display: none;
    }
}
