body{
    background-color: hsl(0, 0%, 81%);
}
.m1{
    background-color: hsl(263, 55%, 52%);
    width:700px;
    height:300px;
    border-radius: 9px;
    font-family: "Barlow Semi Condensed";
}
.i1{
    border-radius: 50%;
    margin-left: 20px;
    height: 3%;
margin-top: 10px;
border-color: aliceblue;
}
.i2{
margin-left: 370px;
}
.p1{
  margin-inline-start: -460px;
  font-family:barlow;
  font-family: "Barlow Semi Condensed";
}
.p2{
    margin-top: 40px;
    margin-left: -100px;
    font-family: "Barlow Semi Condensed";
}
.p3{
    color: white;
    padding-left: 16px;
    padding-top: -10px;
    font-size: 20px;
    font-family: "Barlow Semi Condensed";
}
.d1{
display: flex;
flex-direction: row;
color: white;
}
.d2{
margin-top: -30px;
}
.p4{
padding-left: 20px;
color: white;
font-family: "Barlow Semi Condensed";
}
.m2{
    background-color: white;
    border-radius: 9px;
    box-shadow: black;
    padding-top: 90px;
    width: 300px;
    height:200px;
    border-radius: 9px;
    font-family: "Barlow Semi Condensed";
}
.i3{
    border-radius: 50%;
    margin-left: 20px;
    height: 3%;
margin-top: -220px;
border-color: aliceblue;
}
.p5{
    margin-inline-start: 90px;
    margin-top: -55px;
    color: black;
    font-family: "Barlow Semi Condensed";
  }
  .p6{
      margin-top: 40px;
      margin-left: 90px;
      margin-top: -10px;
      color: black;
      font-family: "Barlow Semi Condensed";
  }
  .p7{
    color: black;
    padding-left: 20px;
    font-family: "Barlow Semi Condensed";
  }
  .p8{
    color:black;
    margin-left: 15px;
    font-family: "Barlow Semi Condensed";
  }
  .m3{
    background-color: hsl(219, 29%, 14%);
    padding-top:20px;
    margin-top: -308px;
    margin-left: 310px;
    border-radius: 9px;
    width:800px;
    height:270px;
    font-family: "Barlow Semi Condensed";
}
.i4{
    border-radius: 50%;
    margin-left: 20px;
    height: 3%;
border-color: aliceblue;
}
.p9{
color: white;
padding-left: 90px;
margin-top: -50px;
font-family: "Barlow Semi Condensed";
}
.p11{
color: white;
padding-left:20px ;
font-size: 24px;
font-family: "Barlow Semi Condensed";
}
.p12{
color:white;
padding-left:20px ;
font-family: "Barlow Semi Condensed";
}
.m4{
background-color: hsl(217, 19%, 35%);
    padding-top:20px;
    margin-top: -626px;
    margin-left: 720px;
    border-radius: 9px;
    width:389px;
    height:277px;
    border-radius: 9px;
    font-family: "Barlow Semi Condensed";
}
.i5{
border-radius: 50%;
margin-left: 20px;
height: 3%;
border-color: aliceblue;
}
.p13{
color: white;
padding-left: 90px;
margin-top: -50px;
font-family: "Barlow Semi Condensed";
}
.p14{
color: white;
padding-left:20px ;
font-size: 24px;
font-family: "Barlow Semi Condensed";
}
.p15{
color:white;
padding-left:20px ;
margin-top: 40px;
}
.p16{
color:black;
padding-left: 90px;
margin-top: -50px;
}
.m5{
background-color: white;
    border-radius: 9px;
    box-shadow: black;
    width: 400px;
    margin-top: -310px;
    border-radius: 9px;
    margin-left: 1120px;
    height:600px;
    font-family: "Barlow Semi Condensed";
}
.i6{
border-radius: 50%;
margin-left: 20px;
height: 3%;
padding-top: 10px;
}
.p17{
color: black;
padding-left:20px ;
font-size: 24px;
font-family: "Barlow Semi Condensed";
}
.p18{
color:black;
padding-left:20px ;
margin-top: 40px;
font-size: 20px;
font-family: "Barlow Semi Condensed";
}
@media (max-width: 370px) {
    main{
        display: flex;
        flex-direction: column;
    }
    .m1{
        width: 90vw;
        height: 72vh;
    }
    .i1{
        width: 40px;
        height: 40px;
    }
    .m2{
        height: 32vh;
        width: 92vw;
    }
    .i3{
        width: 10vw;
        height: 5vh;
    }
    .m3{
        margin-left: 1px;
        margin-top: 15px;
        width:92vw;
        height: 60vh;
    }
    .i4{
        width: 30px;
        height: 30px;
    }
    .p9{
        padding-top: 10px;
    }
    .m4{
        margin-left: 1px;
        margin-top: 15px;
        width:92vw;
        height: 42vh;
    }
    .i5{
        width: 30px;
        height: 30px; 
    }
    .p13{
        padding-top: 10px; 
    }
    .m5{
        margin-left: 1px;
        margin-top: 15px;
        width:92vw;
        height: 70vh;
    }
    .p16{
        padding-top: 50px; 
    }
    .i2{
        margin-left:0px;
    }
    .p1{
        margin-inline-start: 20px;
        margin-top: -5px;
        color: white;
        font-family: "Barlow Semi Condensed";
        padding-top: 20px;
    }
    .i3{

        width: 40px;
        height: 40px;
        margin-bottom:10px;
    }
    .i4{
        width: 40px;
        height: 40px;
        margin-bottom:10px;
    }
    .p9{
        margin-top: -65px;
    }
    .i5{
        width: 40px;
        height: 40px;
        margin-bottom:10px;
    }
    .p13{
        margin-top: -65px;
    }
    .i6{
        width: 40px;
        height: 40px;
        margin-bottom:10px; 
    }
    .p16{
        margin-top: -100px;
    }
.p5{
    width: 120px;
    margin-right: 0px;
}
.p3,.p7,.p11,.p14,.p17{
font-size: 6vw;text-align: start;
}
.p4,.p8,.p12,.p15,.p18{
    font-size: 4vw;text-align: start;
}
.p4{
    font-size: 4vw;text-align: start;
}
.p6{

}
}
